body {
    background-color: #404040;

}

header {
    background-color: greenyellow;
    padding: 230px;
    text-align: center;
    font-size: 100px;
    top: 0;
    bottom: 0;
}

section { 
    padding: 10px;
    font-size: 23px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    background-color: rgb(129, 129, 129);
}

nav {
    padding: 10px;
    background-color: white;
    top: 0;
    left: 0;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    margin: 5px;
    padding: 10px;
}
#bio {
    background-color: #C0C0C0;
}

#commands {
    margin-top: 3px;
    background-color: silver;
}
@media (min-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}